@import url("vars.css");

img {
  width: 100%;
}

p {
  font-weight: bold;
  font-size: 20px;
  text-align: justify;
  color: var(--color_white_dirty);
}

#disclaimer {
  width: 300px;
  border: 2px solid var(--color_peach_dark);
  border-radius: 20px;
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 30px;
}

