@import url("vars.css");

:root {
  --button-width: 160px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

#blocked_sites {
  width: 1020px;
  height: 600px;
  border: 2px solid var(--color_peach_dark);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  overflow: scroll;
  overflow-x: hidden;
}

#blocked_sites::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}

#blocked_sites::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}

#blocked_sites::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color:var(--color_blue_light);
}

.site {
  width: 980px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
}

.site:nth-child(odd) {
  background-color: var(--color_grey_light);
}

.site:nth-child(even) {
  background-color: var(--color_grey_ultra_light);
}

.site p {
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  width: 500px;
  color: var(--color_peach_dark);
}

.site .deleteImg {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color_grey_dark);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color_blue_dark);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#bottom {
  width: 1020px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#import_export {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button, #import {
  position: relative;
  width: var(--button-width);
  background-color: var(--color_peach);
  border: 1px solid var(--color_blue_dark);
  border-radius: 4px;
  color: var(--color_blue_dark);
  padding: 10px 24px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
}

#import {
  width: 110px;
  text-align: center;
}

button .tooltiptext, #import .tooltiptext {
  width: var(--button-width);
  top: 120%;
  left: 43%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: var(--color_grey_dark);
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--color_peach_dark); 
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

button:hover .tooltiptext, #import:hover .tooltiptext {
  opacity: 1;
}

button .tooltiptext::after, #import .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--color_peach_dark) transparent;
}


#block_interval {
  width: 550px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#block_interval p {
  font-weight: bold;
  font-size: 20px;
}

#block_interval input {
  width: 100px;
  height: 40px;
  color: var(--color_peach_dark);
  border: 1px solid var(--color_peach_dark);
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
}

#file_selector {
  display: none;
}
