@import url("vars.css");


html {
  width: 300px;
  height: 550px;
  background-color: var(--color_peach_light);
}

button {
  background-color: var(--color_peach);
  border: 1px solid var(--color_blue_dark);
  border-radius: 4px;
  color: var(--color_blue_dark);
  padding: 10px 24px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

button:hover {
  background-color: var(--color_peach_dark);
}

button:disabled {
  background-color: var(--color_peach_light);
  color: var(--color_blue_light);
  cursor: not-allowed;
  border: 1px solid var(--color_blue_light);
}

#web_domain{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: var(--color_grey_dark);
  height: 30px;
  width: 100%;
}

#block_group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

#block_group button {
  width: 100%; 
}

#timer {
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
