@import url("vars.css");

:root {
  --loader_diameter: 280px;
  --dash_array: 870;
  --fill_percentage: 0;
}


#loader {
  width: var(--loader_diameter); 
  height: var(--loader_diameter);
  border-radius: 50%;
  box-shadow: inset 0 0 100px var(--color_grey_dark);
}

#loader svg {
  position: relative;
  width: var(--loader_diameter);
  height: var(--loader_diameter);
}

#loader svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--color_grey_dark);
  stroke-width: 4;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

#loader svg circle:nth-child(2) { /*loading bar*/
  stroke-dasharray: var(--dash_array);
  stroke-dashoffset: calc(var(--dash_array) - (var(--dash_array) * var(--fill_percentage)) / 100);
  stroke: var(--color_peach_dark);

}


#loader #time {
  position: relative;
  top: -200px;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader input {
  width: 100px;
  height: 100px;
  color: var(--color_blue_dark);
  border: none;
  border-radius: 10px;
  font-size: 75px;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
}

#loader input::placeholder {
  color: var(--color_blue_dark);
}

#loader input:focus{
  outline: none;
}

#loader input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#loader #separator {
  color: var(--color_blue_dark);
  font-size: 70px;
  text-align: center;
  font-weight: bold;
}

#buttons {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
}

#buttons button {
  width: 49%;
  height: 100%;
}