:root {
  --color_peach: #FFA960;
  --color_peach_light: #FFBD85;
  --color_peach_dark: #DD7013;
  --color_grey: #666;
  --color_grey_light: #777;
  --color_grey_ultra_light: #ccc;
  --color_grey_dark: #444;
  --color_blue: #4B8BB5;
  --color_blue_light: #4d8bb4;
  --color_blue_dark: #225A7E;
  --color_white_dirty: #fffbbb;
}